* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 640px);
  padding-right: calc(50% - 640px);
}

a {
  text-decoration: none;
}

.top {
  background-position: center;
  background-size: cover;
  background-image: url(./img/top_back.jpg);
  background-repeat: no-repeat;
  height: 735px;
}

.top__content {
  color: #ffffff;
}

.top__text {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}

.top__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #ffffff;
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 76px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}

.header__input {
  padding-left: 32px;
  padding-right: 32px;
  width: 288px;
  height: 41px;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  border-radius: 20px;
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  outline: none;
}

.header__input::placeholder {
  color: #ffffff;
}

.menu {
  display: flex;
  gap: 32px;
}

.menu__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.menu__link:hover {
  text-decoration: underline;
}

.title {
  max-width: 792px;
  margin-top: 63px;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  color: #ffffff;
}

.for-box {
  padding-top: 64px;
}

.for {
  display: grid;
  margin-top: 32px;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}

.for__item {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: span 4;
  height: 415px;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
}

.for__item_big {
  grid-column: span 6;
}

.for__item_1 {
  background-image: url(./img/for-1.jpg);
}

.for__item_2 {
  background-image: url(./img/for-2.jpg);
}

.for__item_3 {
  background-image: url(./img/for-3.jpg);
}

.for__item_4 {
  background-image: url(./img/for-4.jpg);
}

.for__item_5 {
  background-image: url(./img/for-5.jpg);
}

.product-box {
  padding-top: 64px;
}

.heading {
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
}

.product-content {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.product {
  width: 379px;
}

.product__img {
  width: 100%;
  margin-bottom: 10px;
}

.product__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 10px;
}

.product__desc {
  width: 370px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-bottom: 14px;
}

.product__box-price {
  display: flex;
  gap: 32px;
}

.product__price {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
}

.product__price_sale {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-decoration-line: line-through;
  color: #888888;
}

.link-box {
  padding-top: 39px;
  padding-bottom: 64px;
}

.bottom__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #000000;
}
.footer {
  display: flex;
  background: #f7f6f6;
  align-items: center;
  gap: 212px;
}



.footer__content {
  display: flex;
  gap: 189px;
  padding-top: 34px;
  padding-bottom: 17px;
}

.footer-box {
  display: flex;
  gap: 129px;
}

.footer__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer__heading {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.footer__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
}

.footer__link:hover {
  text-decoration: underline;
}

.form__text {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.form__email {
  margin-bottom: 12px;
  box-sizing: border-box;
  outline: none;
  height: 46px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 20px;
  padding-left: 25px;
  padding-right: 25px;
}

.form__email::placeholder {
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #c4c4c4;
}

.form__button {
  height: 46px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #ffffff;
  border-radius: 20px;
}

/* #Каталог */

.title__catalog {
  padding-top: 127px;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  color: #ffffff;
}

.catalog-nav {
  display: flex;
  padding-top: 64px;
  justify-content: space-between;
}

.top-content {
  background-position: center;
  background-size: cover;
  background-image: url(./img/top_catalog_back.jpg);
  background-repeat: no-repeat;
  height: 400px;
}

/* .top__content {
  margin-top: 127px;
} */

.bread-crumbs {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.bread-crumbs a {
  color: #000000;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "/";
  padding-left: 8px;
  padding-right: 8px;
}

.product-content-catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: space-between;
}

.select {
  position: relative;
  width: 288px;
}

.select select {
  display: block;
  background: none;
  padding-left: 14px;
  padding-right: 22px;
  width: 100%;
  height: 41px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 20px;
  color: #000000;
  border: 1px solid #c4c4c4;
  border-radius: 20px;
}

.select:after {
  content: "";
  display: block;
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 1em;
  z-index: 1;
  margin-top: -3px;
  width: 20px;
  height: 11px;
  background-repeat: no-repeat;
  background-image: url(./img/select.svg);
}

@import "cart";
@import "tablet";
